@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
--course_button: #784D3C;
--white: white;
--black: #000000;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}
.header{
    background-image: url(../images/banner.webp);
    background-size: cover ;
    background-position: center;
    height: 35rem;
}
.header_container{
padding-left:20rem;
padding-right:20rem;
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
}
.tittle{
    display: flex;
    font-size: 3.5rem;
    font-weight: 100;
    color: var(--white);
}
.tittle_bold{
    font-weight: 600;
    
}
.nav_bar{
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    align-items: center;
    font-size: 20px;
}
.nav_bar a{
    text-decoration: none;
    color: var(--white);
}
.sub_tittle{
    margin-top: 10rem;
    text-align: center;
    color: var(--white);
}
.sub_tittle h2{
    font-size: 2.5rem;
}
.sub_tittle p{
    font-size: 1.1rem;
}